<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>8.keep-alive</title>
</head>
<body>
<!-- beforeDestroy destroyed vm.$destroyed()-->
<div id="app">
    <button @click="a=false">移除</button>
    <input type="radio" value="man" v-model="val">
    <input type="radio" value="woman" v-model="val">

    <!-- template   slot    component      keep-alive: 保持缓存;-->
    <keep-alive v-if="a">
        <component :is="val"></component>
    </keep-alive>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let man = {//请求四个接口,其中三个我需要缓存,还有一个不还缓存;    create(),activated()这些都是钩子方法;
        create(){alert(1)},
        //->deactivated: ;当keep-alive移除时调用的方法;
        deactivated(){alert(100)},
        //->activated: 存放不需要缓存的结果;
        activated(){//->不会受keep-alive干扰;如果有keep-alive,依然会执行;
            alert(2);
        },
        template: "<div>男人</div>",
        beforeDestroy(){
            alert(2)
        }
    };
    let woman = {template: "<div>女人</div>"};
    let vm = new Vue({
        el: "#app",
        data: {val: ""},
        components: {
            man,
            woman
        }

    });
</script>

</body>
</html>