<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>案例: 去做</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .del {
            text-decoration: line-through;
            color: lightsalmon;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">导航</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- col-md-offset-3: 偏移2列-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p class="h3 text-warning">亲,你还有 {{count}} 件事需要完成</p>
                            <input type="text" class="form-control" v-model="todo.title" @keyup.13="add">
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="todo in todos" v-model="newTodos">
                                    <!-- @dblclick="saveCurrent()" : 点击谁,就把当前这个记住;用当前这个和每一项比较;如果相等则表示的是当前的这一项,让输入框显示出来即可;-->
                                    <div @dblclick="saveCurrent(todo)" v-show="cur!==todo">
                                        <input type="checkbox" v-model="todo.select">
                                        <span :class="{del:todo.select}">{{todo.title}}</span>
                                        <!-- pull-right: 相当于float: right;-->
                                        <button @click="remove(todo)" class="btn btn-danger btn-xs pull-right">&times;
                                        </button>
                                    </div>
                                    <input type="text"
                                           v-model="newObj.title"
                                           v-auto-focus="cur===todo"
                                           @blur="cancel"
                                           v-show="cur===todo"
                                           @keyup.esc="cancel"
                                           @keyup.enter="saveUpdate(todo)"
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <ul class="nav nav-pills">
                                <li :class="{active: hash==='all'}"><a href="#all">全部</a></li>
                                <li :class="{active: hash==='unfinish'}"><a href="#unfinish">未完成</a></li>
                                <li :class="{active: hash==='finish'}"><a href="#finish">已完成</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<!-- vue-resource是基于promise;axios它也是基于promise;
    vue-resourse支持jsonp;axios不支持jsonp;
    axios可以再服务端使用;axios并没有挂在vue的实例上;
-->
<script src="node_modules/axios/dist/axios.js"></script>
<script src="todo.js"></script>
</body>
</html>